/* Overall Body Styling */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: #27785e;
    color: #27785e;
}

header {
    background: #27785e;
    color: #black;
    padding: 20px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    background-color: #DAF7A6;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #black;
}

section {
    padding: 20px;
    margin: 0 0px;
    background: white;
    border: 1px solid #ddd;
}

h1, h2 {
    color: #161a16;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #27785e;
    color: white;
}

.home-icon {
    font-size: 33px;       
    color: #333;             
    text-decoration: none;   
    margin-top: 0px;        
}

.home-icon.glowing {
    color: #4CAF50;             
}

.home-icon:hover {
    color: #4CAF50;
}
